name: Build ARM64 MacOS Profile
on:
  push:
    tags:
      - 'v*'
    branches:
      - 'main'
      - 'dev'
    paths-ignore:
      - '*.md'
      - '*.txt'
  pull_request:
    branches:
      - 'main'
      - 'dev'
    paths-ignore:
      - '*.md'
      - '*.txt'

env:
  CI_ENV: IN_CI

jobs:
  build:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: 'actions/checkout@v4'

      - name: Build
        run: |
          sudo -E ./make macos_arm64
          sudo mv output/alpine_uefi_bootable-arm64.img.zst           output/bootable-arm64.img.zst
          sudo mv output/alpine_uefi_bootable-arm64.img.zst.sha256sum output/bootable-arm64.img.zst.sha256sum
      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: bootable-arm64.img.zst
          path: |
            output/bootable-arm64.img.zst
            output/bootable-arm64.img.zst.sha256sum
          if-no-files-found: error
          overwrite: true
      - name: Release
        uses: softprops/action-gh-release@v2
        if: startsWith(github.ref, 'refs/tags/')
        with:
          generate_release_notes: true
          files: |
              output/bootable-arm64.img.zst
              output/bootable-arm64.img.zst.sha256sum
          append_body: true
          draft: false
          prerelease: false
          make_latest: true
